.no {
  text-align: center;
  color: white;
  position: sticky;
  font-size: 60px;
}
body {
  background-image: url("https://wallpaperaccess.com/full/1801916.jpg");
}

.door {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  background-color: black;
}

.text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: white;
  font-size: 4vw;
}

.smol {
  text-align: center;
  color: white;
  font-size: 1vw;
}

.door2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: black;
}
.door3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: black;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}