.no {
  text-align: center;
  color: white;
}
body {
  background-color: black;
}

.door {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: black;
}

.text {
  text-align: center;
  color: white;
  font-size: 40px;
}